<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.michaelwijaya.kuufapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KuufApp">
        <activity android:name=".AboutActivity"
            android:label="About"/>
        <activity android:name=".DetailActivity"
            android:label="Product Detail"/>
        <activity android:name=".ProfileActivity"
            android:label="Profile"/>
        <activity android:name=".StoreActivity"
            android:label="Kuuf Store"/>
        <activity android:name=".RegisterActivity"
            android:label="Register"/>
        <activity android:name=".LoginActivity"
            android:label="Kuuf">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label="Kuuf Home"/>
    </application>

</manifest>